/* @theme tum */

@import 'default';

section {
  background-color: #fff;
  color: #000;
  background-image: url('images/TUM_Logo_blau_rgb_s.svg');
  background-repeat: no-repeat;
  background-position: right 40px top 40px;
  background-size: 8%;
}

section.lead {
  background-image: url('images/TUM_Uhrenturm.png');
  background-position: right;
  background-size: 45%;
}

section h1,
section a,
section footer,
section::after {
  color: #0065bd;
}

section.invert {
  background-color: #003359;
  color: #fff;
  background-image: url('images/TUM_Logo_weiss_rgb_s.svg');
}

section.lead.invert {
  background-image: url('images/TUM_Uhrenturm_w.png');
}

section.invert h1,
section.invert footer,
section.invert::after {
  color: #fff;
}

section.invert a {
  color: #e37222;
}

/* Add "Page" prefix and total page number */
section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}
